$white: #ffffff;
$lightGrey: #ced4da;
$darkGrey: #6c757d;
$black: #000000;

body {
    font-family: montserrat, sans-serif;

    h1 {
        margin: 20px 0;
        font-size: 60px;
        font-family: greatVibes, serif;
        text-align: center;
    }

    .row {
        margin-right: 0;
        margin-left: 0;
    }

    form {
        margin-bottom: 20px;

        .form-section {
            padding: 20px;
        }

        #birth-date-section,
        #sign-size-section,
        #sign-color-section,
        #back-color-section {
            border-bottom: 1px solid $lightGrey;
        }

        .form-group {
            margin: 0;

            .title {
                margin-bottom: 10px;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
            }

            .birth-date-select {
                padding: 0;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                select {
                    border: 1px solid $darkGrey;
                    color: $black;
                    height: 40px;
                    max-width: 300px;
                    margin: 0 auto;
                }
            }

            .text-danger {
                margin-top: 10px;
                font-size: 14px;
                text-align: center;
            }

            input[type="color"] {
                width: 40px;
                height: 40px;
                border: 0;
                padding: 0;
                background-color: unset;

                &::-webkit-color-swatch-wrapper {
                    padding: 0;
                }

                &::-webkit-color-swatch {
                    border: 1px solid $darkGrey;
                    border-radius: 0.25rem;
                }
            }

            #or-word {
                padding: 10px 0;
            }

            select,
            option,
            .form-check-input,
            .form-check-label,
            input[type="color"] {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    #calculate-btn,
    #result-sign-wrap {
        margin-bottom: 40px;
    }

    table {
        border: 2px solid $white;

        td {
            width: 7px;
            height: 7px;
        }
    }

    .hide {
        display: none;
    }
}

@font-face {
    font-family: greatVibes;
    src: url(fonts/GreatVibes-Regular.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat-Regular.ttf);
}

@media (min-width: 420px) {
    body {
        table {
            td {
                width: 10px;
                height: 10px;
            }
        }
    }
}

@media (min-width: 576px) {
    body {
        h1 {
            margin: 30px 0;
            font-size: 80px;
        }

        form {
            margin-bottom: 40px;

            #birth-date-section,
            #sign-color-section,
            #back-color-section {
                border-right: 1px solid $lightGrey;
            }

            #sign-color-section,
            #back-color-section {
                border-bottom: 0;
            }

            .form-group {
                .title {
                    font-size: 24px;
                }

                .text-danger {
                    font-size: 16px;
                }
            }
        }

        table {
            td {
                width: 14px;
                height: 14px;
            }
        }
    }
}

@media (min-width: 768px) {
    body {
        h1 {
            margin: 40px 0;
            font-size: 100px;
        }

        form {
            .form-group {
                .birth-date-select {
                    padding: 0 5px;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }

                    &:not(:last-child) {
                        margin-bottom: 0;
                    }
                }
            }
        }

        table {
            td {
                width: 18px;
                height: 18px;
            }
        }
    }
}
