$white: #ffffff;
$lightGrey: #ced4da;
$darkGrey: #6c757d;
$black: #000000;
$blue: #007bff;

body {
    font-family: montserrat, sans-serif;

    h1 {
        margin: 20px 0;
        text-align: center;
        font-family: greatVibes, serif;
        font-size: 60px;
    }

    .row {
        margin-right: 0;
        margin-left: 0;
    }

    form {
        margin-bottom: 20px;

        #birth-date-section,
        #sign-size-section,
        #sign-color-section,
        #back-color-section {
            border-bottom: 1px solid $lightGrey;
        }

        .form-section {
            padding: 20px;

            .form-group {
                margin: 0;

                .title {
                    margin-bottom: 10px;
                    text-align: center;
                    font-size: 20px;
                    font-weight: bold;
                }

                .birth-date-select {
                    padding: 0;

                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }

                    select {
                        margin: 0 auto;
                        border: 1px solid $darkGrey;
                        max-width: 300px;
                        height: 40px;
                        color: $black;
                        cursor: pointer;
                    }
                }

                .radio-container {
                    display: block;
                    position: relative;
                    padding-left: 30px;
                    margin-bottom: 5px;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;

                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                    }

                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 20px;
                        width: 20px;
                        border: 1px solid $darkGrey;
                        border-radius: 50%;

                        &:after {
                            content: '';
                            position: absolute;
                            display: none;
                            top: 5px;
                            left: 5px;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background: $white;
                        }
                    }

                    &:hover input ~ .checkmark {
                        background-color: $darkGrey;
                    }

                    input:checked ~ .checkmark {
                        border: 1px solid $blue;
                        background-color: $blue;

                        &:after {
                            display: block;
                        }
                    }
                }

                input[type="color"] {
                    border: 0;
                    background-color: unset;
                    padding: 0;
                    width: 40px;
                    height: 40px;
                    cursor: pointer;

                    &::-webkit-color-swatch-wrapper {
                        padding: 0;
                    }

                    &::-webkit-color-swatch {
                        border: 1px solid $darkGrey;
                        border-radius: 0.25rem;
                    }
                }

                #or-word {
                    padding: 10px 0;
                }
            }
        }
    }

    #calculate-btn,
    #result-sign-wrap {
        margin-bottom: 40px;
    }

    table {
        border: 2px solid $white;

        td {
            width: 7px;
            height: 7px;
        }
    }

    .text-danger {
      margin-top: 10px;
      text-align: center;
      font-size: 14px;
    }

    .hide {
        display: none;
    }
}

@font-face {
    font-family: greatVibes;
    src: url(fonts/GreatVibes-Regular.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat-Regular.ttf);
}

@media (min-width: 420px) {
    body {
        table {
            td {
                width: 10px;
                height: 10px;
            }
        }
    }
}

@media (min-width: 576px) {
    body {
        h1 {
            margin: 30px 0;
            font-size: 80px;
        }

        form {
            margin-bottom: 40px;

            #birth-date-section,
            #sign-color-section,
            #back-color-section {
                border-right: 1px solid $lightGrey;
            }

            #sign-color-section,
            #back-color-section {
                border-bottom: 0;
            }

            .form-section {
                .form-group {
                    .title {
                        font-size: 24px;
                    }
                }
            }
        }

        table {
            td {
                width: 14px;
                height: 14px;
            }
        }

        .text-danger {
          font-size: 16px;
        }
    }
}

@media (min-width: 768px) {
    body {
        h1 {
            margin: 40px 0;
            font-size: 100px;
        }

        form {
            .form-section{
                .form-group {
                    .birth-date-select {
                        padding: 0 5px;

                        &:first-child {
                            padding-left: 0;
                        }

                        &:last-child {
                            padding-right: 0;
                        }

                        &:not(:last-child) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        table {
            td {
                width: 18px;
                height: 18px;
            }
        }
    }
}
